    {% block body %}
    <!DOCTYPE html>

{#        Deze is de eerste Homepage#}

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>AlAhli Bank, Welcome</title>
        <link rel="icon" href="https://ahli.com/wp-content/uploads/2019/08/ahli-logo.png">
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
    </head>


    <body id="page-top">
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Ahli Bank</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Welcome by Ahli bank, login as employee</h2>
                    <a class="btn btn-primary" href="login">Log in</a>
                </div>
            </div>
        </div>
    </header>
    </body>


{% endblock %}
