body {
    background-color: #FFFFFF;
}
.example-wrapper { align-content: center;
    margin: 1em auto;
    max-width: 900px;
    height: 40vh;
    width: 60vw;
    font: 18px/1.5 sans-serif;
    padding-top: 4%;
    text-align: center
}

@media screen and (width<992px){
    .example-wrapper{
        width: 100%
    }
}
@media screen and (width>=992px){
    .example-wrapper{
        width: 60vw
    }
}

.example-wrapper code { background: #F5F5F5; padding: 2px 6px;}


button {
    align-content: center;
    padding: 0.5em 1em;
    font-size: 16px;
    background-color: #00979F;
    color: #fff;
    border: none;
    cursor: pointer;

    border-radius:10px;
    min-height:30px;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
    transition: 0.7s;
    background-color: #4B2343;
}

.chart-wrapper {
    display: grid;
    height: 40vh;
    width: 60vw;
}

table, th, td {

    padding-bottom: 10px;
    border:1px solid black;
}
#table-data-lowStp{
    display: none;
}
#table-data-highStp{
    display: none;
}