.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif;
    min-height: 500px;
}
.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
.required { margin-right: 1vw; }

#historical_station_select_Submit {
    align-content: center;
    padding: 0.5em 1em;
    font-size: 16px;
    background-color: #00979F;
    color: #fff;
    border: none;
    cursor: pointer;

    border-radius:10px;
    min-height:30px;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.chart-container {
    border: 1px solid rgba(0, 0, 0, 0.66); /* Set the border style */
    padding: 10px; /* Add some padding to the container if desired */
    border-radius: 15px;
    width: 100%;
    min-height: 400px;
}
#historical_station_select_Submit:hover {
    transition: 0.7s;
    background-color: #4B2343;
}

#historical_station_select_Submit {
    margin-right: 1vw;
}
#current-station {
    padding:1%;
    float: left;
}

#historical_station_select_stationName {
    align-content: center;
    padding: 0.5em 1em;
    font-size: 16px;
    background-color: #5b6565;
    color: #fff;
    border: none;
    cursor: pointer;

    border-radius:10px;
    min-height:30px;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.chart-buttons-wrapper {
    justify-content: center;
}
#historical_station_select {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1em;
    justify-content: center;
}
.chart-wrapper {
    display: grid;
    height: 40vh;
    width: 60vw;
}

.download-xml-button{
    text-align: center;
    padding: 0.5em 1em;
    font-size: 16px;
    background-color: #00979F;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius:10px;
    min-height:30px;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.download-xml-button:hover {
    transition: 0.7s;
    background-color: #4B2343;

}

@media screen and (width >= 992px) {
    .chart-container {
        width: auto;
        height: 400px;
    }
}

@media screen and (width < 450px) {

    #historical_station_select {
        grid-template-columns: 2fr 1fr;
    }
}

