
.form-group {
    margin-bottom: 1em;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 0.5em;
    font-size: 16px;
}

.form-group button {
    align-content: center;
    padding: 0.5em 1em;
    font-size: 16px;
    background-color: #00979F;
    color: #fff;
    border: none;
    cursor: pointer;

    border-radius:10px;
    min-height:30px;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.form-group button:hover {
    transition: 0.7s;
    background-color: #4B2343;
}
.example-wrapper {
    background-color: #e8e8e8;
    align-content: center;
    margin: 1em auto;
    max-width: 900px;
    max-height: 600px;
    width: 100%; font: 18px/1.5 sans-serif;
    padding: 4%;
    border-radius: 3%;
    text-align: left}

/* Add this CSS code to your registration.css file */
.isAdmin-label {
    margin-right: 10px;
    color: #333;
    font-weight: bold;
}

.isAdmin-checkbox {
    width: 16px;
    height: 16px;
    margin: 0;
    vertical-align: middle;
}

.isAdmin-message {
    margin-top: 5px;
    color: #999;
    font-size: 12px;
}

