{% extends 'base.html.twig' %}

{% block title %}Remove User{% endblock %}

{% block body %}
    <div class="container">
        <h1>Hello RemoveUserController!</h1>

        <table style="width: 100%; border-collapse: collapse;">
            <thead>
            <tr>
                <th style="border: 1px solid #ccc; padding: 8px;">User Name</th>
                <th style="border: 1px solid #ccc; padding: 8px;">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td style="border: 1px solid #ccc; padding: 8px;">{{ user.getEmail() }}</td>
                    <td style="border: 1px solid #ccc; padding: 8px;">
                        <form action="{{ path('app_remove_user_delete', {'id': user.getEmployeeId}) }}" method="POST" onsubmit="return confirm('Are you sure you want to remove this user?');">
                            <button type="submit" style="background-color: #50a4ad; color: #fff; border: none; padding: 8px 16px; cursor: pointer;">Remove</button>
                        </form>
                    </td>

                    <td style="border: 1px solid #ccc; padding: 8px;">
                        <form action="{{ path('app_remove_user_change_email', {'id': user.getEmployeeId}) }}" method="POST">
                            <input type="text" name="email" placeholder="New Email">
                            <button type="submit" style="background-color: #50a4ad; color: #fff; border: none; padding: 8px 16px; cursor: pointer;">Change Email</button>
                        </form>
                    </td>

                    <td style="border: 1px solid #ccc; padding: 8px;">
                        <form action="{{ path('app_remove_user_change_password', {'id': user.getEmployeeId}) }}" method="POST">
                            <input type="password" name="password" placeholder="New Password">
                            <button type="submit" style="background-color: #50a4ad; color: #fff; border: none; padding: 8px 16px; cursor: pointer;">Change Password</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
