/* Set background color of body to white and font color to black */
body {
    background-color: #FFFFFF;
    color: #000000;
}
/* Style the navigation bar */
nav {
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
nav li {
    margin: 0 10px;
    font-size: 20px; /* Make the font size bigger for the navigation links */
}
nav a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding: 10px;
}
.inlog, .uitlog {
    font-size: 20px; /* Make the font size bigger for the "Inlog" and "Uitlog" buttons */
    margin: 0 10px;
}
.right {
    margin-left: auto; /* Align the "Inlog" and "Uitlog" buttons to the right */
}

.navPadding {
    height: 1px;
    width: 1px;
    padding-bottom: 100px;
}