{% extends 'base.html.twig' %}

{% block title %}10 cloudiest stations in China{% endblock %}

{% block body %}
<style>
</style>
    {#    Work in progress     #}
    <br>
    <br>
    <br>
    <br>
    <br>
        <button name="reload_button" onclick="location.reload()">
            Herlaad de pagina
        </button>
    {#    Work in progress     #}
{% endblock %}
